.container__cards {
    display: flex;
    width: 80%;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
    padding: 1.25rem;
    margin: 0 1rem;
}

.dicas__titulo {
    font-size: 3rem;
    margin: 4rem 0;
}

.card__titulo {
    font-size: 1.5rem;
    margin: .8rem 0
}

.card__texto {
    font-size: 1rem;   
}

.card__svg {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0 auto;
}
